{% extends 'base.html' %}

{% block content %}
<br>
<button class="waves-effect waves-light btn-small teal lighten-3"><a class="white-text" href="{% url 'index' %}">
        < Back to Corgi List </a></button>
<h1>Corgi Details</h1>
<div class="row">
    <div class="col s6">
        <div class="card">
            <div class="card-content">
                <span class="card-title">{{ corgi.name }}</span>
                <p>Breed: {{ corgi.breed }}</p>
                <p>Description: {{ corgi.description|linebreaks }}</p>
                {% if corgi.age > 0 %}
                <p>Age: {{ corgi.age }}</p>
                {% else %}
                <p>Age: Just a baby</p>
                {% endif %}
            </div>
            <div class="card-action">
                <a href="{% url 'corgis_update' corgi.id %}">Edit</a>
                <a href="{% url 'corgis_delete' corgi.id %}">Delete</a>
            </div>
        </div>
    </div>

    <div class="col s6">
        <form action="{% url 'add_feeding' corgi.id %}" method="POST">
            {% csrf_token %}
            <!-- Render the inputs -->
            {{ feeding_form.as_p }}
            <input type="submit" class="btn teal lighten-3" value="Add Feeding">
        </form>
        
        <br>
        {% if corgi.fed_for_today %}
            <div class="card-panel teal-text center-align">{{corgi.name}} been fed all meals for today</div>
        {% else %}
            <div class="card-panel red-text center-align">{{corgi.name}} might be hungry</div>
        {% endif %}

        <table class="striped">
        <thead>
            <tr><th>Date</th><th>Meal</th></tr>
        </thead>
        <tbody>
            {% for feeding in corgi.feeding_set.all %}
            <tr>
                <td>{{feeding.date}}</td>
                <td>{{feeding.get_meal_display}}</td>
            </tr>
            {% endfor %}
        </tbody>
        </table>
    </div>
</div>
<hr>

<div class="row">
  <div class="col s6">
    <h3>{{ corgi.name }}'s Toys</h3>
    {% if corgi.toys.count %}
      {% for toy in corgi.toys.all %}
        <div class="card">
          <div class="card-content">
            <span class="card-title">
              {% comment %} A <span style="color: {{ toy.color }}">{{ toy.color }}</span> {{ toy.name }} {% endcomment %}
              A {{ toy.color }} {{ toy.name }}
            </span>
            {% if toy.description%}
                <p>Description: {{ toy.description }} </p>
            {% endif %}  
          </div>
          <div class="card-action">
                <form action="{% url 'remove_toy' corgi.id toy.id %}" method="POST">
                {% csrf_token %}
                <button type="submit" class="btn teal lighten-3">Remove</button>
              </form>
            </div>
         </div>
         {% endfor %}
        {% else %}
        <h5>No toys yet... </h5>
        {% endif %}
  </div>

  <!-- Available toys will come after this line -->
    <div class="col s6">
    <h3>Available Toys</h3>
    {% if toys.count %}
        {% for toy in toys.all %}
        <div class="card">
            <div class="card-content">
            <span class="card-title">
                {% comment %} A <span style="color: {{ toy.color }}">{{ toy.color }}</span> {{ toy.name }} {% endcomment %}
              A {{ toy.color }} {{ toy.name }}
            </span>
            {% if toy.description%}
                <p>Description: {{ toy.description }} </p>
            {% endif %}  
            </div>
            <div class="card-action">
                <form action="{% url 'assoc_toy' corgi.id toy.id %}" method="POST">
                {% csrf_token %}
                <button type="submit" class="btn teal lighten-3">Add</button>
            </form>
            </div>
        </div>
        {% endfor %}
        {% else %}
            <h5>{{corgi.name}} Already Has All Toys Available</h5>
        {% endif %}
    </div>
</div>


<script>
  const dateEl = document.getElementById('id_date');
  // M is Materialize's global variable
  M.Datepicker.init(dateEl, {
    format: 'yyyy-mm-dd',
    defaultDate: new Date(),
    setDefaultDate: true,
    autoClose: true
  });  

    // add additional JS to initialize select below
  const selectEl = document.getElementById('id_meal');
  M.FormSelect.init(selectEl);
</script>

{% endblock %}