{% extends 'base.html' %}

{% block content %}
<h1>About the Corgi Collector</h1>
<br>
<hr>
<br>
<p>Corgi Collector is a dedicated online community for corgi enthusiasts worldwide. The website offers a platform for
    corgi lovers to connect, share their experiences, and showcase their corgi collections. Members can browse through
    an extensive collection of corgi-related content. They can also participate in discussions and exchange ideas on
    topics related to corgis, such as health, training, and breeding. Whether you're a seasoned corgi owner or a
    newcomer to the corgi world, Corgi Collector provides a welcoming space to celebrate the beloved breed and connect
    with like-minded individuals. </p>

{% endblock %}