{% extends 'base.html' %}

{% block content %}
<div class="home-content"></div>
<div class="row">
    <div class="col s12 m7">
        <img class="responsive-img""
            src="
            https://images.unsplash.com/photo-1612536057832-2ff7ead58194?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=774&q=80"
            alt="corgi with hearts">
    </div>

    <div class="col s12 m5">
        <h2 class="">Welcome to Corgi Collector</h2>
        <br>
        <p class="flow-text">Here you can find and keep track of all your favorite Corgis.</p>
    </div>
</div>
</div>

{% endblock %}